- return if deals.blank?

%hr
%h2 Deals
%table
  %tr
    %th deal_id
    %th status
    %th price
    %th original_price
    %th buyers_count
    %th hotness
    %th division
    %th latitude
    %th longitude
    %th last checked / first seen
    
  - deals.each do |deal|
    %tr
      %td= link_to deal.deal_id, deal
      %td= deal.status
      %td= price(deal, :sale_price)
      %td= price(deal, :original_price)
      %td= deal.buyers_count
      %td= deal.hotness
      %td= link_to(deal.division.name, site_division_path(deal.site, deal.division)) if deal.division
      %td= deal.latitude
      %td= deal.longitude
      %td #{time_ago_in_words deal.updated_at} / #{time_ago_in_words deal.created_at}