= render :partial => 'shared/chart', :object => @chart

%b Title:
= @deal.title
%br

%b URL:
= link_to_if @deal.url, @deal.url, @deal.url
%br

%b Status:
= @deal.status
%br

%b Stats:
price / buyers_count / revenue / # snapshots
%br
<<<<<<< HEAD
#{@deal.buyers_count} / #{@deal.sale_price} / #{@deal.revenue} / #{@deal.snapshots.count}
=======
#{@deal.buyers_count} / #{@deal.price} / #{@deal.revenue} / #{@deal.snapshots.count}
>>>>>>> 62992eb1545a85afc81867a39aecdb29e85392c0
%br

%hr
= button_to 'snapshot now!', import_deal_path(@deal)

%hr
= render :partial => 'snapshot_diffs/snapshot_diffs', :object => @deal.snapshot_diffs.order(:changed_at.desc).limit(20)

%hr
= render :partial => 'snapshots/snapshots', :object => @deal.snapshots.desc(:created_at).limit(20)