= stylesheet_link_tag "email-updates.css", :cache => true
%div
  %h3
    Sign up for Email updates
  #main-mailsender 
    = form_for @user do |f|
      %div
        = f.label :name
        = f.text_field :name
      %div
        = f.label :email
        = f.text_field :email  
      = f.submit "Sign up"
