%h1= t('.title')
%p= link_to t('.new_division'), new_division_path

%table
  %thead
    %tr
      %th= Division.human_attribute_name :name
      %th= Division.human_attribute_name :source
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for division in @divisions
      %tr{ :class => cycle(:odd, :even) }
        %td= division.name
        %td= division.source
        %td.action= link_to t('show'), division
        %td.action= link_to t('edit'), edit_division_path(division)
        %td.action= link_to t('destroy'), division, :confirm => t('are_you_sure'), :method => :delete
