%h1= t('.title')
%p= link_to t('.new_division'), new_division_path


%table
  %thead
    %tr
<<<<<<< HEAD
      %td= link_to division.name, site_division_path(division.site.id, division)
      %td= division.deals.active.count
      %td= link_to division.url, division.url
      %td #{time_ago_in_words division.updated_at} ago
=======
      %th= Division.human_attribute_name :name
      %th= Division.human_attribute_name :source
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for division in @divisions
      %tr{ :class => cycle(:odd, :even) }
        %td= division.name
        %td= division.source
        %td.action= link_to t('show'), division
        %td.action= link_to t('edit'), edit_division_path(division)
        %td.action= link_to t('destroy'), division, :confirm => t('are_you_sure'), :method => :delete
>>>>>>> 62992eb1545a85afc81867a39aecdb29e85392c0
