= render :partial => 'shared/chart', :object => @chart

%h1= link_to @division.name, @division.url

%b Active Deals
= @division.deals.active.count
%br

%b Total Deals
= @division.deals.count

= render :partial => 'deals/deals',         :object => @division.deals
= render :partial => 'snapshots/snapshots', :object => @division.snapshots