%head
  %meta{:charset => 'utf-8'}
  %title
    Group Buying - 
    = controller.controller_name.humanize
        
  = stylesheet_link_tag 'css/screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'css/print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'css/ie.css', :media => 'screen, projection'
  = stylesheet_link_tag 'css/dealgeo.css', :media => 'screen'
 
  = yield :stylesheets
