#header
  .logo
    %a{:href=>"/"}
  .account
    %a{:href=>"#"} Login
    %a{:href=>"#"} Sign up
#main
  #deals-list
    %ul
      - @deals.each do |d| 
        %li{:id=>"#{d.id}"}
          %a{:href=>"#{d.permalink}"} 
            %span.thumb
              %img{:src=>"#{sites_thumb(d.source_name)}"}
            %span.name #{d.name}
          %p.at
            - latlng= random_digits_nyc
            - puts latlng
            %span.label Location: 
            %span.latlng #{latlng[0]}, #{latlng[1]}
  #map_canvas