= render :partial => 'shared/chart', :object => @chart

%table
  %tr
    %th name
    %th active deals
    %th url
    %th last checked
    
  - @divisions.sort_by{|d| -d.deals.active.count}.each do |division|
    %tr
      %td= link_to division.name, site_division_path(parent, division)
      %td= division.deals.active.count
      %td= link_to division.url, division.url
      %td #{time_ago_in_words division.last_checked_at} ago