%tr
  %td= link_to deal.deal_id, deal
  %td= deal.active? ? 'active' : 'inactive'
  %td= price(deal, :sale_price)
  %td= price(deal, :actual_price)
  %td= deal.buyers_count
  %td= deal.hotness
  %td= link_to(deal.division.name, site_division_path(deal.site, deal.division)) if deal.division
  %td= deal.lat
  %td= deal.lng
  %td #{time_ago_in_words deal.updated_at} / #{time_ago_in_words deal.created_at}