=# render :partial => 'shared/chart', :object => @chart

= will_paginate @deals

%hr
%h2 Deals
%table
  %tr
    %th deal_id
    %th status
    %th price
    %th original_price
    %th buyers_count
    %th hotness
    %th division
    %th latitude
    %th longitude
    %th last checked / first seen

  = render :partial => @deals

= will_paginate @deals

%h1=@site.name

%table
  %thead
    %tr
      %th= Deal.human_attribute_name :name
      %th= Deal.human_attribute_name :sale_price
      %th= Deal.human_attribute_name :division_id
      %th= Deal.human_attribute_name :site_id
      %th= Deal.human_attribute_name :active
      %th= Deal.human_attribute_name :sold
  
  %tbody
    - for deal in @deals
      %tr{ :class => cycle(:odd, :even) }
        %td= deal.name
        %td= deal.sale_price
        %td= deal.division_id
        %td= deal.site_id
        %td= deal.active
        %td= deal.sold
