<<<<<<< HEAD
#site-stats
  #chart
  #deals-activity
    %p Active deals being tracked
      %span 100
    %p Deals tracked to date
      %span 100
    %p Coupons purchased to date
      %span 100
    %p Total spent on deals to date
      %span 100
    %p Average revenue per deal
      %span 100
    %p Total locations
      %span 100
    %a{:href=>"#"} See Locations
  #deals-variation
    %ul
      %li.period
        %a{:href=>"#"} Day
      %li.period
        %a{:href=>"#"} Week
      %li.period
        %a{:href=>"#"} Month
      %li.period
        %a{:href=>"#"} Quarter
    .variation-table
      .entry
        %p.label Closed Deals
        %span 100
    %p Coupons Purchased
      %span 100
    %p Closed Deals
      %span 100
  #deals-trending
    
=======
%h1= t '.title'
%p
  = link_to t('back'), deals_path
  = link_to t('edit'), edit_deal_path(@deal)

%dl
  %dt= Deal.human_attribute_name :name
  %dd= @deal.name
  %dt= Deal.human_attribute_name :price
  %dd= @deal.price
  %dt= Deal.human_attribute_name :division_id
  %dd= @deal.division_id
  %dt= Deal.human_attribute_name :site_id
  %dd= @deal.site_id
  %dt= Deal.human_attribute_name :active
  %dd= @deal.active
  %dt= Deal.human_attribute_name :sold
  %dd= @deal.sold
>>>>>>> 62992eb1545a85afc81867a39aecdb29e85392c0
