%h1= t '.title'
%p
  = link_to t('back'), deals_path
  = link_to t('edit'), edit_deal_path(@deal)

%dl
  %dt= Deal.human_attribute_name :name
  %dd= @deal.name
  %dt= Deal.human_attribute_name :price
  %dd= @deal.price
  %dt= Deal.human_attribute_name :division_id
  %dd= @deal.division_id
  %dt= Deal.human_attribute_name :site_id
  %dd= @deal.site_id
  %dt= Deal.human_attribute_name :active
  %dd= @deal.active
  %dt= Deal.human_attribute_name :sold
  %dd= @deal.sold
