= render :partial => 'shared/chart', :object => @chart

%b Title:
= @deal.name
%br

%b URL:
= link_to_if @deal.permalink, @deal.permalink, @deal.permalink
%br

%b Status:
= @deal.active? ? 'active' : 'inactive'
%br

%b Stats:

%table
  %tr
    %th Price
    %th Buyers Count
    %th Revenue
    %th Snapshots
    %th Expires
    
  %tr
    %td=number_to_currency(@deal.sale_price)
    %td=@deal.buyers_count
    %td=number_to_currency(@deal.revenue)
    %td=@deal.snapshots.count
    %td #{distance_of_time_in_words(Time.now, @deal.expires_at)} from now
%br

%hr
=# button_to 'snapshot now!', import_deal_path(@deal)

%hr
=# render :partial => 'snapshot_diffs/snapshot_diffs', :object => @deal.snapshot_diffs.order(:changed_at.desc).limit(20)

%hr
%h2 Snapshots
%table
  %tr
    %th DB id
    %th slug
    %th status
    %th price
    %th # sold
    %th revenue
    %th imported at
    
  = render :partial => 'snapshots/snapshot', :collection => @deal.snapshots.find(:all, :order => "created_at desc", :limit => 20)