%b Title:
= @deal.title
%br

%b URL:
= link_to @deal.url, @deal.url
%br

%b Status:
= @deal.status
%br

%b Stats:
price / buyers_count / revenue / # snapshots
%br
#{@deal.buyers_count} / #{@deal.price} / #{@deal.revenue} / #{@deal.snapshots.count}
%br

%hr
= link_to 'import', import_deal_path(@deal), :method => :post

= render :partial => 'snapshots/snapshots', :object => @deal.snapshots.desc(:created_at).limit(20)