- return if snapshots.blank?

%hr
%h2 Snapshots
%table
  %tr
    %th DB id
    %th slug
    %th status
    %th price
    %th # sold
    %th revenue
    %th imported at
    
  - snapshots.each do |snapshot|
    %tr
      %td= link_to snapshot.id, snapshot
      %td= snapshot.deal_id
      %td
        - if snapshot.deal
          %a{:href => "/deals/#{snapshot.deal.id}"}= snapshot.status
        - else
          = snapshot.status || "n/a?"
      %td= snapshot.price
      %td= snapshot.buyers_count
      %td= snapshot.total_revenue
      %td= time_ago_in_words snapshot.created_at