%h1 Snapshots for #{snapshot.deal_id}

%table
  %thead
    %tr
      %th= Snapshot.human_attribute_name :deal_id
      %th= Snapshot.human_attribute_name :sould_count
      %th= Snapshot.human_attribute_name :site_id
      %th= Snapshot.human_attribute_name :status
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for snapshot in @snapshots
      %tr{ :class => cycle(:odd, :even) }
        %td= snapshot.deal_id
        %td= snapshot.sould_count
        %td= snapshot.site_id
        %td= snapshot.status
        %td.action= link_to t('show'), snapshot
        %td.action= link_to t('edit'), edit_snapshot_path(snapshot)
        %td.action= link_to t('destroy'), snapshot, :confirm => t('are_you_sure'), :method => :delete
