%h1=@snapshot.deal.deal_id

%dl
  %dt= Snapshot.human_attribute_name :deal_id
  %dd= @snapshot.deal_id
  %dt= Snapshot.human_attribute_name :sold_count
  %dd= @snapshot.sold_count
  %dt= Snapshot.human_attribute_name :site_id
  %dd= link_to(@snapshot.site.name, @snapshot.site)
  %dt= Snapshot.human_attribute_name :status
  %dd= @snapshot.status
