%h1 Group Buying Dynamics

%h2 Deal

%div
  %p 
    Deal title:
    =@deal.name
%div
  %p 
    URL
    =link_to @deal.permalink, @deal.permalink

%br
%br

%div
  %p
    %h2 Select tags:
  %p
    = form_for :deal, :url => admin_site_deal_deal_categories_path(@deal.site.id, @deal.id) do |f|
      - @categories.each do |category|
        %div.box
          %h3
            = check_box_tag 'deal[category_ids][]', category.id, @deal.categories.include?(category)
            = category.name
          - if @sub_categories.has_key?(category.id)
            .sub_categories
              - @sub_categories[category.id].each do |cat|
                %div
                  = check_box_tag 'deal[category_ids][]', cat.id, @deal.categories.include?(cat)
                  = cat.name
      .sub_categories
        %div
          New tag parent
          = select_tag 'new_category[parent_id]', options_for_select(@base_categories)
        %div
          Enter a new tag
          = text_field_tag 'new_category[name]'
           
      = f.submit "Save"