<% url = @category.new_record? ? admin_categories_path : admin_category_path(@category) %>
<%= form_for(@category, :url => url) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="inputs">
    <p>
      Category parent:
      <br />
      <% selected = @category.new_record? ? nil : @category.parent_id %>
      <%= f.select :parent_id, options_for_select(@base_categories), {:include_blank => true, :selected => selected} %>
    </p>
    <p>
      Category Name:
      <br />
      <%= f.text_field :name %>
    </p>
    <p>
      Tags(separated by comma):
      <br />
      <%= f.text_field :tags %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
