.span-8.append-16.last
  %h2 See Detailed Report
  %table
    %tr
      %th site
      %th details
    - @sites.each do |site|
      %tr
        %td= link_to site.title, site
        %td 
          = link_to("deals", site_deals_path(site))
          |
          = link_to("snapshots", site_snapshots_path(site))
          |
          = link_to("diffs", site_snapshot_diffs_path(site))
          |
          = link_to("url_checks", site_url_checks_path(site))
      
= render :partial => 'shared/chart', :object => @chart