#site-stats.main-content
  %h1 #{@site.name}
  #chart
  #deals-activity.stats-block
    .calc
      %p.label Active deals being tracked
      %p.value #{number_with_delimiter @site.deals.active.count}
    .calc
      %p.label Deals tracked to date
      %p.value #{number_with_delimiter @site.deals.count}
    .calc
      %p.label Coupons purchased to date
      %p.value #{number_with_delimiter @data[:coupon_purchased]}
    .calc
      %p.label Total spent on deals to date
      %p.value #{number_to_currency(@data[:total_revenue], :unit =>"$", :precision=>0)}
    .calc
      %p.label Average coupons sold per deal
      %p.value #{number_to_currency(@data[:avg_coupon], :unit =>"$", :precision=>0)}
    .calc
      %p.label Average price per deal
      %p.value #{number_to_currency(@data[:price_deal], :unit =>"$", :precision=>0)}
    .calc
      %p.label Average revenue per deal
      %p.value #{number_to_currency(@data[:avg_coupon] * @data[:price_deal],:unit =>"$", :precision=>0)}    
    .calc
      %p.label Total locations
      %p.value #{@site.divisions.count}

  #deals-variation.stats-block
    %ul
      %li.period
        %a{:href=>"#"} Day
      %li.period
        %a{:href=>"#"} Week
      %li.period
        %a{:href=>"#"} Month
      %li.period
        %a{:href=>"#"} Quarter
    .variation-table
      .entry
        .calc
          %p.label Closed Deals
          %p.value #{number_with_delimiter @site.deals.inactive.count}
          %p.change #{@data[:change_today_yesterday]}
        .calc
          %p.label Coupons Purchased
          %p.value #{number_with_delimiter @data[:closed_yesterday]}
          %p.change #{@data[:change_yesterday]}
        .calc
          %p.label Total Spent on Deals
          %p.value #{number_to_currency(@data[:purchased_today],:unit => "$",:precision=>0)}
          %p.change #{@data[:purchased_change_today]}
        .calc
          %p.label Average Revenue per Deal
          %p.value #{number_to_currency(@data[:revenue_today],:unit => "$", :precision=>0)}
          %p.change #{@data[:change_purchased_yesterday]}
  #deals-trending.stats-block
    %h2 Currently Trending on #{@site.name} 
    .trending-table
      .header
        %p.deal.label Deal
        %p.division.label City
        %p.hotness.label Hotness
      - @trending.each do |d|
        .row
          %a.deal{:href=>"#{d.permalink}"} #{d.name}
          %p.division #{d.division}
          %p.hotness #{d.hotness}

=content_for(:javascripts) do
  :javascript
    var chart_data= #{@chart_data.to_json}