/ = debug @chart_data
#site-stats.main-content
  %h1 #{@site.name}
  #chart
  #deals-activity.stats-block
    .calc
      %p.label Active deals being tracked
      %p.value #{number_with_delimiter @site.deals.active.count}
    .calc
      %p.label Deals tracked to date
      %p.value #{number_with_delimiter @site.deals.count}
    .calc
      %p.label Coupons purchased to date
      %p.value #{number_with_delimiter @data.coupon_purchased}
    .calc
      %p.label Total spent on deals to date
      %p.value #{price(@data, :total_revenue)}
    .calc
      %p.label Average coupons sold per deal
      %p.value #{number_with_delimiter @data.avg_coupon}
    .calc
      %p.label Average price per deal
      %p.value #{price(@data, :avg_price_per_deal)}
    .calc
      %p.label Average revenue per deal
      %p.value #{price(@data, :avg_revenue_per_deal)}
    .calc
      %p.label Total locations
      %p.value #{@site.divisions.count}
  #deals-variation.stats-block
    %ul
      %li.period
        %a{:href=>"#", :onclick => 'show_stats(0);return false;'} Day
      %li.period
        %a{:href=>"#", :onclick => 'show_stats(7);return false;'} Week
      %li.period
        %a{:href=>"#", :onclick => 'show_stats(30);return false;'} Month
      %li.period
        %a{:href=>"#", :onclick => 'show_stats(90);return false;'} Quarter
    - Site::STATS_PERIODS.each do |period|
      .variation-table{:id => "stats_#{period}"}
        .entry
          .calc
            %p.label Closed Deals
            %p.value #{number_with_delimiter @data.deals_closed_for(period)}
            %p.chang=display_percent(@data.deals_closed_percent(period))
          .calc
            %p.label Coupons Purchased
            %p.value #{number_with_delimiter @data.coupons_purchased_for(period)}
            %p.chang=display_percent(@data.coupons_purchased_percent(period))
          .calc
            %p.label Total Spent on Deals
            %p.value #{price(@data, :revenue_by_periods_for, period)}
            %p.chang=display_percent(@data.revenue_by_periods_percent(period))
          .calc
            %p.label Average Revenue per Deal
            %p.value #{price(@data, :average_revenue_for, period)}
            %p.chang=display_percent(@data.average_revenue_percent(period))
  #deals-trending.stats-block
    %h2 Currently Trending on #{@site.name} 
    .trending-table
      .header
        %p.deal.label Deal
        %p.division.label City
        %p.hotness.label Hotness
      - @trending.each do |d|
        .row
          %a.deal{:href=>"#{d.permalink}", :target=>"_blank"} #{d.name}
          %p.division #{d.division}
          %p.hotness #{d.hotness}
=content_for(:javascripts) do
  :javascript
    var chart_data= #{@chart_data.to_json}