%h1 Admin Deals

%div
  = will_paginate(@deals)
:css
  table tr td{ padding: 0.2em 1em; }

%table.span-12
  %tr{:style => "background: #ccc;"}
    %th Name
    %th Price
    %th division
    %th site
    %th active
    %th hotness
    %th raw_address

  - @deals.each do |deal|
    - color = cycle('#eee','#aaa')
    %tr{:style => "background: #{color};"}
      %td{:colspan=>12}
      
        =link_to(deal.name, admin_deal_path(deal))
    %tr{:style => "background: #{color};"}
      %td= number_to_currency(deal.sale_price)
      %td=deal.division_id
      %td=deal.active
      %td=deal.hotness
      %td=deal.raw_address
      %td &nbsp;

%div
  = will_paginate(@deals)