%h1= @deal.name

%h2 Stats

%table#stats
  %tbody
    %tr
      %td ID
      %td=@deal.id
    %tr
      %td Permalink
      %td=link_to @deal.permalink, @deal.permalink
    %tr
      %td Sale price / Actual price
      %td="#{price(@deal, :sale_price)} / #{price(@deal, :actual_price)}" 
    %tr
      %td Division
      %td=link_to @deal.division.name, admin_division_path(@deal.division)
    %tr
      %td Active ? / Expires
      %td= "#{@deal.active?.to_s} / #{d(@deal.expires_at)}(#{distance_of_time_in_words_to_now(@deal.expires_at)})"
    / %tr
    /   %td Raw address
    /   %td= @deal.raw_address
    %tr
      %td Snapshots Captured
      %td=@snapshots.count
    %tr
      %td Categories
      %td
        = @deal.categories.collect(&:full_name).join(',')
        = link_to 'Assign', admin_site_deal_deal_categories_path(@deal.site, @deal)
    

%hr
      
%h2 Snapshots

%br
          
%p
  Deal created:
  =d(@deal.created_at)
%table#stats
  %thead
    %tr
      %th Created
      %th Previous
      %th Current
  %tbody
    - @snapshots.each do |snap|
      %tr
        %td 
          =d snap.created_at
        %td 
          =snap.last_buyers_count
        %td
          =snap.buyers_count
            
- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $("table tr:odd").addClass('odd');
      $("table tr:even").addClass('even');
    });            