%h1= @snapshot.id.to_s

- if @snapshot.deal
  %p
    = link_to @snapshot.deal.name, @snapshot.deal

- [:analyzed, :valid_deal, :url, :created_at].each do |field| 
  %b #{field}: 
  = @snapshot.send(field)
  %br

- if @snapshot.valid_deal?
  %hr
  - @snapshot.snapshooter.deal_attrs.each do |field, value|
    %b= field
    = value
    %br