!!!5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title
      Group Buying - Admin - #{controller.controller_name.humanize}

    = stylesheet_link_tag 'css/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'css/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'css/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'css/styles.css', :media => 'screen'
    = stylesheet_link_tag 'admin/admin.css', :media => 'screen, projection'

    = stylesheet_link_tag "jquery.fancybox-1.3.4.css"#, :cache => true    

    = yield :stylesheets
    
    = javascript_include_tag 'http://code.jquery.com/jquery-1.5.1.min.js'
    = javascript_include_tag "admin"
  %body
    .container
      .top-container
        #header
          .logo
            %a{:href=>"/admin"} Admin / Group Buying Analytics
          .account
            %a{:href=>"/admin/sites"} Sites
            %a{:href=>"/admin/deals"} Deals
            %a{:href=>"/admin/categories"} Categories
            %a{:href=>"/admin/divisions"} Divisions
            %a{:href=>"/admin/snapshots"} Snapshots
            / %a{:href=>"/deals.csv"} Deals CSV Export
            = yield :top_nav
      %div  
        .main-container
          #flash-messages
            - flash.each do |key, value| 
              %div{:class => key}= value
          .clear
        #main
          = yield
      .bottom-container
        #bottom

  = yield :javascripts