!!!5
%html
  = render "shared/head"    
  %body
    .container
      .top-container
        #header
          .logo
            %a{:href=>""} Group Buying Analytics
          .account
            %a{:href=>"#"} Login
            %a{:href=>"#"} Sign up
      .main-container
        #main
          = yield
      .right-container
        #right
          = yield :right_nav
          #coupons-counter
            %p.count 0
            %p.label Coupons Analyzed to Date
          #email-updates
            %p Sign Up for Email Updates
            %a{:href => "/mail_updates/new", :id=> "lnk-new-user", :class=> "iframe"} Sign Up
          #overall-trending
            %p.label Top Trending Deals
            %ul
            - @overall_trending.each do |t|
              %li
                %a{:href=>""} #{t.name}
            %a.see-chart-btn{:href=>"#"} See chart
      .bottom-container
        #bottom

  = javascript_include_tag "thirdparty/jquery-1.5.1.min"
  = javascript_include_tag "thirdparty/ui/jquery.ui.core.min"
  = javascript_include_tag "thirdparty/ui/jquery.ui.widget.min"
  = javascript_include_tag "thirdparty/highcharts/highcharts"
  = javascript_include_tag "thirdparty/fancybox/jquery.fancybox-1.3.4.pack"
  = yield :javascripts
  :javascript  
    $("a#iframe").fancybox();
    $("a#lnk-new-user").fancybox({
      'transitionIn'	:	'elastic',
      'transitionOut'	:	'elastic',
      'speedIn'		:	600, 
      'speedOut'	:	200, 
      'overlayShow'	:	false
      });
  = javascript_include_tag "app"