!!!5
%html
  = render "shared/head"    
  %body
    .container
      .top-container
        #header
          .logo
            %a{:href=>""} Group Buying Analytics
          .account
            %a{:href=>"#"} Login
            %a{:href=>"#"} Sign up
      .main-container
        #main
          = yield
      .right-container
        #right
      .bottom-container
        #bottom
      = yield :right_nav

    = javascript_include_tag "thirdparty/jquery-1.5.1.min"
    = javascript_include_tag "thirdparty/ui/jquery.ui.core.min"
    = javascript_include_tag "thirdparty/ui/jquery.ui.widget.min"
    = javascript_include_tag "thirdparty/highcharts/highcharts"
    = javascript_include_tag "thirdparty/fancybox/jquery.fancybox-1.3.4.pack"
    = yield :javascripts
    = javascript_include_tag "app"
